.hero {
  margin: 0 auto;
  max-width: var(--layout-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__h1 {
  font-family: Fira Sans;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: var(--color-text);
  margin: 0;
}

.hero__h1_gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__cta {
  display: flex;
  gap: 32px;
}

.button_primary {
  border-radius: 10px;
  padding: 16px 32px;
  background: var(--color-primary);
  color: var(--color-text);
}

.button_secondary {
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-10);
  background: none;
}

.courses_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 70px;
}

.button-more {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.chip_wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  overflow: scroll;
  margin-right: -24px;
  margin-left: -24px;
  padding-left: 24px;
}

.section_background {
  background-color: var(--color-bg-medium);
}

.trust-wrapper {
  display: grid;
  grid-template-columns: [start]repeat(3, 1fr) [end];
  gap: 0 75px;
}

.trust-wrapper__top {
  grid-column: start / end;
}

.trust-wrapper__stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 70px;
}

.trust-wrapper_num {
  font-weight: 700;
  font-size: 46px;
  line-height: 55.2px;
  text-align: center;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trust-wrapper_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--color-text);
}

.trust-wrapper__h3 {
  grid-column: start / end;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  color: var(--color-text);
}

.trust-wrapper__rating {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }

  /* .courses_wrapper {
    grid-template-columns: repeat(2, 1fr);
  } */

  .hero__cta {
    justify-content: center;
  }
  .hero__h1 {
    text-align: center;
  }
  .trust-wrapper {
    grid-template-columns: [start]repeat(2, 1fr) [end];
  }
}
@media (max-width: 640px) {
  .hero__h1 {
    font-size: 30px;
    line-height: 120%;
  }
  .trust-wrapper {
    grid-template-columns: [start] 1fr [end];
  }

  /* 
  .courses_wrapper {
    grid-template-columns: 1fr;
  } */

  .hero__right {
    width: 100%;
  }
  .hero {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .hero__cta {
    gap: 16px;
  }
}
